/* .nav-link,.card-text,.card-title{
    color: var(--bs-white);
  }
#root{
    background-color: var(--bs-yellow);
  }

.card{
    background-color: var(--bs-rgb(0, 0, 0));
    }

  h1{
    background-color: var(--bs-black);
    color: var(--bs-white);
  }
  
.card{
    background-color: rgb(0, 0, 0)
    }
   */